
demo/ConsoleApp1/.vs/ConsoleApp1/v15/Server/sqlite3/db.lock
demo/ConsoleApp1/.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide
demo/ConsoleApp1/.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-shm
demo/ConsoleApp1/.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-wal
demo/ConsoleApp1/.vs/ConsoleApp1/v16/.suo
